body {
    background-color: rgb(230, 230, 230);
opacity: 0.8;
/* background-image:  linear-gradient(30deg, #ff5555 12%, transparent 12.5%, transparent 87%, #ff5555 87.5%, #ff5555), linear-gradient(150deg, #ff5555 12%, transparent 12.5%, transparent 87%, #ff5555 87.5%, #ff5555), linear-gradient(30deg, #ff5555 12%, transparent 12.5%, transparent 87%, #ff5555 87.5%, #ff5555), linear-gradient(150deg, #ff5555 12%, transparent 12.5%, transparent 87%, #ff5555 87.5%, #ff5555), linear-gradient(60deg, #ff555577 25%, transparent 25.5%, transparent 75%, #ff555577 75%, #ff555577), linear-gradient(60deg, #ff555577 25%, transparent 25.5%, transparent 75%, #ff555577 75%, #ff555577);
background-size: 66px 116px;
background-position: 0 0, 0 0, 33px 58px, 33px 58px, 0 0, 33px 58px; */
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    width: fit-content;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }